* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 30px;
    cursor: pointer;
}

/* .modal {
    width: 100vw;
    height: 100vh;
    background: #000000;
} */